/* Navbar */

.navbar {
    background-color:#F8F8F8;
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    box-shadow: 0px 1px grey;
    width: 100%;
    
    

}


.navbar-items{

    display: flex;
    padding: 16px;
    font-size: medium;
    text-decoration: none;
}

.navbar-link{

    display: flex;
    padding-right: 20px;
    
}

.items-right{

    display: flex;
    margin-left:auto;
    color: #808080;
}

.jumbotron{

    width: 85vw;
    font-size: 1.25rem;
    margin: 1.5em 6em;
}



.p {

    margin-top: 0;
    margin-bottom: 2rem;
}
/* middle page*/

.main-container{

    display: flex;
    flex-direction: column;
    justify-content: center;


}
.middle-container{

    width: 85vw;
    background-color: #EEEEEE;
    text-align: left;
    margin: 2% 10% 5% 2%;
    padding: 2% 1% 5% 8%;
    font-family: sans-serif;

}

.title h1{
  
    font-size: x-large;
    font-weight: 30%;
    
    
}
.description p{
    margin: 0;
    padding: 0% 10% 30% 50%;
    
}




/* For the compaines page*/

.companies-container{

    display: flex;
    flex-direction: column;
    justify-content: center;


}
/*
.middle-compaines-container{

    width: 85vw;
    background-color: #EEEEEE;
    text-align: left;
    margin: 2% 10% 5% 2%;
    padding: 2% 1% 5% 8%;
    font-family: sans-serif;

}
*/